<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFS ACCOUNT ACTIVATION</title>
</head>
<body>

  <p style="Margin-top: 0;Margin-bottom: 20px;">
    <em>
      Welcome {{ name }}, <br/>
      We are so exited to have you on board.
      Please use the button below to activate your account
    </em>
    <br>
    <a href="{{ validationUrl }}" target="_blank" rel="noopener noreferrer">Activate Account</a>
  </p>

  
</body>
</html>