<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFS PASSWORD RESET</title>
</head>
<body>
    <p style="Margin-top: 0;Margin-bottom: 20px;">
      <em>&nbsp;
        Hi {{ username }}, <br/>
        Someone recently requested for a password reset on your account 
        with email address <b>{{ email }}</b>. To reset your password please 
        click the button below.
      </em>
    </p>
    <br>
    <p style="Margin-top: 20px; width: 100%; Margin-bottom: 0;  text-align: center">
      <a class="activation-link" href="{{ resetLink }}" target="_blank">Reset Password</a>
    </p>
    <br>
    <br>
    <p style="Margin-top: 0;Margin-bottom: 20px;">
      If you did not request for a password reset, kindly ignore this mail 
      and no change will be made.
    </p>
</body>
</html>